.routernav-container {
  height: 80px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease;
}
.routernav-container.stickit {
  height: 70px;
  // background-color: #a4161a;
  // background: linear-gradient(to right, #00b4db, #0083b0);
  // background: linear-gradient(to right, #56ab2f, #a8e063);
  // background: linear-gradient(to right, #eb5757, #211f1f);
  background: linear-gradient(to right, #0f2027, #62b8d4, #2c5364);
  // background: linear-gradient(to right, #fc4a1a, #f7b733);

  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.3);
}

.routernav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 100%;
  padding-top: 5px;
}

.container-logo {
  display: flex;
  align-items: center;
}
.container-logo a {
  flex-shrink: 0;
  width: 100px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.container-logo a img {
  display: block;
  max-width: 60px;
  margin: 0 auto;
  transition: all 0.3s ease;
}
.container-logo a img:hover {
  transform: rotateZ(45deg);
}
.container-logo .logo-text {
  margin: 0;
}
.container-logo .logo-text:hover ~ .container-logo a {
  display: none;
}

.routernav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.routernav-item {
  margin-right: 20px;
}
.routernav-item a.active,
.routernav-item a:hover {
  box-shadow: inset 0 -2px 0 0 #fff;
}
.routernav-item a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

/* Keyframes  */

@keyframes spaceEffect {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}
