input,
textarea {
  caret-color: red;
}

.title-contact {
  font-size: 2em;
  margin: 0;
}

.sub-contact {
  margin: 0;
  margin-bottom: 50px;
  font-size: 1em;
}

.contact-content {
  justify-content: center;
  gap: 30px;
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: start;
}
.contact .contact-content .left p {
  text-align: justify;
  font-size: 0.85em;
  margin: 0;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.contact .contact-content .info .head {
  font-weight: 500;
  text-align: start;
  font-size: 1em;
}
.contact .contact-content .info .sub-title {
  color: #333;
  font-size: 0.85em;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
.right form .button-area button {
  color: crimson;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  border: 2px solid crimson;
  transition: all 0.3s ease-in-out;
}
.right form .button-area button:hover {
  color: white;
  background: crimson;
}
