.home {
  .title-home {
    font-size: 1.2em;
    margin: 0;
    margin-top: 40px;
  }
  .my-name {
    font-size: 3em;
    margin: 0;
  }
  .text-3 {
    font-size: 1.6em;
    margin: 10px 0;
    .typing {
      color: #1e3551;
      background: linear-gradient(135deg, #041d3d, #fff, crimson);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
    }
  }
}

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  .icon-content {
    margin: 10px 10px;
    position: relative;

    .tooltip {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      padding: 6px 10px;
      border-radius: 5px;
      opacity: 0;
      visibility: hidden;
      font-size: 14px;
      transition: all 0.3s ease;
    }

    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
      top: -40px;
    }

    a {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: #4d4d4d;
      background-color: #fff;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
        background-color: white;
        color: white;

        .filled {
          height: 100%;
        }
      }

      svg {
        position: relative;
        z-index: 1;
        width: 30px;
        height: 30px;
      }

      & .filled {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #f01e1e;
        transition: all 0.3s ease-in-out;
      }

      &[data-social="linkedin"] .filled,
      &[data-social="linkedin"] ~ .tooltip {
        background-color: #0274b3;
      }

      &[data-social="github"] .filled,
      &[data-social="github"] ~ .tooltip {
        background-color: #24262a;
      }

      &[data-social="github"] ~ .tooltip {
        background-color: white;
        color: black;
      }
    }
  }
}
