// .aboutUs {
//   top: 0;
//   min-height: 80vh;
//   background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   font-size: calc(10px + 2vmin);
//   color: white;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: auto;

//   .title-about-me {
//     font-size: 2em;
//     margin: 0;
//     margin-top: 70px;
//   }

//   .sub-title-about-me {
//     margin: 10px 0 50px 0;
//     color: #ed3a3ad0;
//   }

//   .about-content {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     gap: 20px;

//     .left {
//       width: 45%;
//       display: flex;
//       justify-content: flex-end;
//       margin-right: 30px;

//       img {
//         height: 350px;
//         width: 350px;
//         object-fit: cover;
//         border-radius: 50%;
//         border: 1px solid rgb(245, 240, 240);

//         @media (max-width: 850px) {
//           height: 300px;
//           width: 300px;
//         }

//         @media (max-width: 480px) {
//           height: 180px;
//           width: 180px;
//         }
//       }
//     }

//     .right {
//       width: 55%;
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       flex-wrap: wrap;
//       margin-right: 50px;

//       .text {
//         font-size: 25px;
//         font-weight: 600;
//         margin-bottom: 10px;

//         color: #abc7e7;

//         span {
//           background: linear-gradient(135deg, #200b8b, #fff, rgb(158, 6, 9));
//           -webkit-background-clip: text;
//           -webkit-text-fill-color: transparent;
//         }
//       }

//       p {
//         text-align: start;
//         margin: 0;
//         padding: 0;
//         margin-bottom: 20px;
//       }

//       a {
//         display: inline-block;
//         background: #ffffff;
//         color: #333;
//         font-size: 20px;
//         font-weight: 800;
//         padding: 10px 30px;
//         margin-top: 20px;
//         border-radius: 6px;
//         border: 2px solid #dddddd;
//         margin-bottom: 20px;

//         &:hover {
//           color: white;
//           background: linear-gradient(135deg, #200b8b, rgb(158, 6, 9));
//           border: 1px solid white;
//         }
//       }
//     }
//   }
// }

// @media (max-width: 820px) {
//   .about-content {
//     flex-direction: column;
//     text-align: center;

//     & .left {
//       align-items: center;
//       justify-content: center;
//       margin-bottom: 20px;
//       margin-top: 0;
//       margin: 0;
//       margin-right: none;
//       width: auto;
//     }

//     & .right {
//       display: flex;
//       width: 100%;
//       align-items: center;
//       text-align: center;

//       & .text {
//         text-align: center;
//       }

//       & a {
//         text-align: center;
//       }
//     }
//   }
// }

.aboutUs {
  top: 0;
  min-height: 80vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  .title-about-me {
    font-size: 2em;
    margin: 0;
    margin-top: 70px;
  }

  .sub-title-about-me {
    margin: 10px 0 50px 0;
    color: #ed3a3ad0;
  }

  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .left {
      width: 45%;
      display: flex;
      justify-content: flex-end;
      margin-right: 30px;

      img {
        height: 350px;
        width: 350px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid rgb(245, 240, 240);

        @media (max-width: 850px) {
          height: 300px;
          width: 300px;
        }

        @media (max-width: 480px) {
          height: 180px;
          width: 180px;
        }
      }
    }

    .right {
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-right: 50px;

      .text {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #abc7e7;

        span {
          background: linear-gradient(135deg, #200b8b, #fff, rgb(158, 6, 9));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      p {
        text-align: start;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
      }

      a {
        display: inline-block;
        background: #ffffff;
        color: #333;
        font-size: 20px;
        font-weight: 800;
        padding: 10px 30px;
        margin-top: 20px;
        border-radius: 6px;
        border: 2px solid #dddddd;
        margin-bottom: 20px;

        &:hover {
          color: white;
          background: linear-gradient(135deg, #200b8b, rgb(158, 6, 9));
          border: 1px solid white;
        }
      }
    }
  }

  @media (max-width: 820px) {
    .about-content {
      flex-direction: column;
      text-align: center;

      .left {
        justify-content: center;
        margin: 0;
        width: auto;
      }

      .right {
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0px 50px 0 50px;
        margin: 0;

        .text {
          text-align: center;
        }

        a {
          text-align: center;
        }

        P {
          text-align: center;
        }
      }
    }
  }
}
