.routernav-container {
  height: 80px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease;
}

.routernav-container.stickit {
  height: 80px;
  background: linear-gradient(to right, #0f2027, #62b8d4, #2c5364);
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.3);
}

.routernav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-top: 10px;
}

.container-logo {
  display: flex;
  align-items: center;
}

.container-logo a {
  flex-shrink: 0;
  width: 100px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.container-logo a img {
  display: block;
  max-width: 60px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.container-logo a img:hover {
  transform: rotateZ(45deg);
}

.container-logo .logo-text {
  opacity: 1;
  margin: 0;
}

.navigation-checkbox {
  display: none;
}

.navigation-button {
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 1rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation-icon {
  position: relative;
  margin-top: 1.5rem;

  &,
  &::before,
  &::after {
    width: 2rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0s;
  }

  &::before {
    top: -0.6rem;
  }
  &::after {
    top: 0.6rem;
  }
}

.navigation-button:hover .icon::before {
  top: -1rem;
}

.navigation-button:hover .icon::after {
  top: 1rem;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 0;
}

.navigation-item {
  margin: 1rem;
}

.navigation-link {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.3s;

  &:hover {
    background-position: 100%;
    color: #0f2027;
    // transform: translateX(-4rem);
  }
}

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
  background: linear-gradient(to right, #0f2027, #6a9eaf, #2c5364);
}

@media (min-width: 920px) {
  .navigation-button {
    display: none;
  }

  .navigation-nav {
    position: static;
    height: auto;
    width: auto;
    opacity: 1;
  }

  .navigation-list {
    display: flex;
    position: static;
    transform: none;
  }

  .navigation-item {
    margin: 0 0.5rem;
  }

  .navigation-link {
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .container-logo {
    margin-top: 10px;
  }
}

@media (max-width: 650px) {
  .container-logo {
    & .logo-text {
      opacity: 0;
    }
  }
}
