/* Portfolio.scss */

.portfolio {
  padding: 20px;
  text-align: center;
  max-width: 1000px;
  margin: 30px auto;

  & .title-portfolio {
    font-size: 56px;
    margin-bottom: 0px;
  }

  .sub-title-about-me {
    color: #ed3a3ad0;
    font-size: 1.5em;
    margin: 0;
  }

  .slick-slider {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    cursor: pointer;

    .slick-prev,
    .slick-next {
      background-color: #333;
      border-radius: 50% !important;
      width: 50px !important;
      height: 50px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;

      & ::before {
        color: rgb(12, 12, 12) !important;
      }
    }

    .slick-prev {
      left: -10px !important;

      &::before {
        font-family: "slick";
        font-size: 72px;
        line-height: 1;
        opacity: 1;
        color: white;
        -webkit-font-smoothing: antialiased;
      }
    }

    .slick-next {
      right: -10px !important;

      &::before {
        font-family: "slick";
        font-size: 72px;
        line-height: 1;
        opacity: 1;
        color: white;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  .card {
    padding: 0px 20px 20px 20px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    text-align: left;
    max-width: 550px;

    .box {
      img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
      }

      .text {
        font-size: 1.5em;
        margin-bottom: 10px;
        font-weight: bold;
      }

      p {
        font-size: 1em;
        color: #333;
      }
    }
  }
}

@media (max-width: 768px) {
  .portfolio {
    max-width: 400px;
    margin: 40px auto;
  }

  .slick-prev,
  .slick-next {
    background-color: transparent !important;
    opacity: 0;
  }
}
